@font-face {
	font-family: nmfont;
	src: url("./nmfont.ttf");
}
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	display: flex;
    flex-direction: column;
	overflow: hidden;
	font-family: nmfont !important;
}
#icon {
	width: 0;
}
#icon img {
	width: 40px;
	height: 40px;
	position: relative;
	top: 2px;
}
#url input {
	font: inherit;
	background-color: transparent;
	color: white;
	width: calc(100% - 7px);
	height: 40px;
	font-size: 20px;
	outline: none;
	border: 1px solid rgb(0,0,90);
}
#url input:hover {
	border: 1px solid rgb(0,30,130);
}
#url input:focus {
	border: 1px solid rgb(0,110,210);
}
webview {
	width: 100%;
	display: flex;
	flex: 1;
}
